# byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]

# tests and coverage
*.pytest_cache
.coverage

# database & logs
*.db
*.sqlite3
*.log

# huey
*.db-shm
*.db-wal

# venv
env
venv

# other
.DS_Store
logs
deploy.ps1
LogFileWatcherSvc.xml

# javascript
package-lock.json

staticfiles/*
!staticfiles/.gitkeep 
.vscode/symbols.json

.env
uploads/

# JetBrains
.idea

cache_files/
