{% load static %}
<header class="navbar navbar-expand-lg bg-body-tertiary border-bottom sticky-top">
    <div class="container-fluid">
        <button class="btn d-lg-none" type="button" data-bs-toggle="offcanvas" data-bs-target="#sidebarOffcanvas"
                aria-controls="sidebarOffcanvas" aria-label="Toggle sidebar">
            <span class="navbar-toggler-icon"></span>
        </button>


        <a class="navbar-brand ms-2" href="/">
            <img src="{% static 'favicon.ico' %}" alt="Logo" width="28" height="28" class="me-2">
            Log File Watcher
        </a>


        <div class="ms-auto d-flex align-items-center gap-2">
            <div class="dropdown">
                <button class="btn btn-outline-secondary dropdown-toggle" data-bs-toggle="dropdown"
                        aria-expanded="false">
                    <i class="bi bi-person-circle"></i> {{ request.user.username|default:'Guest' }}
                </button>
                <ul class="dropdown-menu dropdown-menu-end">
                    {% if request.user.is_superuser %}
                        <li><a class="dropdown-item" href="/admin/">Admin Page</a></li>
                    {% endif %}
                    <li>
                        <hr class="dropdown-divider">
                    </li>
                    {% if request.user.is_authenticated %}
                        <li>
                            <form method="post" action="{% url 'logout' %}">
                                {% csrf_token %}
                                <button class="dropdown-item" type="submit">Logout</button>
                            </form>
                        </li>
                    {% else %}
                        <li><a class="dropdown-item" href="{% url 'login' %}">Login</a></li>
                    {% endif %}
                </ul>
            </div>
        </div>
    </div>
</header>